hr {
    margin: 0;
}
.listData {
    margin: 0;
}
.userInfo {
    min-width: 300px;
}
.userInfo p:first-child{
    margin-top: 0;
}
.userInfo p:last-child{
    margin-bottom: 0;
}
body {
    margin: 0;
    background-color: #0f1221;
    color: white;
    font-size: 20px;
    text-align: center;
    min-width: 800px;
}

.decorationalDiv{
    padding-top: 0;
    width: 150px;
    border-radius: 2px;
    margin-left: 10px;
}
.decorationalDiv:hover {
    color: gray;
}
.sessionInfoBox{
    box-sizing: border-box;

    padding: 30px;
}
.userInfoBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.userInfo {
    padding: 30px 30px 30px 0;
    box-sizing: border-box;
    width: 30%;
    border-right: 2px solid white;
}
.navInfo {
    display: flex;
    justify-content: space-between;
    padding: 0 70px 0 70px;
    align-items: center;
}
.navInfo button {
    font-size: 16px;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 150px;

    transition: 0.3s;
}
.navInfo button:hover {
    transition: 0.3s;
    background-color: #c7c7c7;
    border-radius: 12px;
    color: white;
}
.postButton {
    font-size: 16px;
    border-radius: 10px;
    border: none;
    width: 90%;
    height: 35px;
    transition: 0.3s;
    margin: 40px 0 0 0;
}
.postButton:hover {
    background-color: #c7c7c7;
    color: white;
    transition: 0.3s;
}
.postWrapper {
    margin-top: 50px;
    height: 200px;
    column-count: 5;
}
.postButtonInfo {
    height: 30px;
    margin:  8px 0 8px 0;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    width: 100px;
    transition: 0.3s;
}
.postButtonInfo:hover {
    width: 120px;
    background-color: #c7c7c7;
    color: white;
    transition: 0.3s;
}
.newButtonStyle {
    font-size: 16px;
    border-radius: 10px;
    border: none;
    width: 90%;
    height: 35px;
    transition: 0.3s;
    margin: 40px 0 40px 0;
    color: #3e3d3d;
}
.decorationDiv {
    margin: 10px;
    background-color: #9672FF;
    height: 3px;
    width: 80px;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}
.buttonKeeper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.decoratePostDiv{
    margin: 0 10px 10px 10px;
    background-color: #9672FF;
    height: 3px;
    width: 30px;
    border: none;
    border-radius: 5px;
    transition: 0.2s;

}
.postKeeper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
