body {
    margin: 0;
    background-color: #0f1221;
    color: white;
    font-size: 20px;
}
h2 {
    margin-left: 70px;
}
.decorationalDiv{
    padding-top: 0;
    width: 150px;
    border-radius: 2px;
    margin-left: 10px;
}
.decorationalDiv:hover {
    color: gray;
}