body{
    margin: 0;
    text-align: center;
    background-color: #0f1221;
    color: white;
    font-size: 20px;
}
.main_wrapper {
    margin: 20px 10px 50px 10px;
    width: auto;
    column-count: 2;
}
.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}
.infoButton {
    font-size: 16px;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 150px;

    transition: 0.3s;
}
.infoButton:hover {
    transition: 0.3s;
    background-color: #c7c7c7;
    border-radius: 12px;
    color: white;
    width: 170px;
}
.decorationDiv {
    margin: 10px;
    background-color: white;
    height: 3px;
    width: 30px;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}
.recentLogsWrap {
    justify-content: space-around;
    display: flex;
    margin-top: 30px;
    padding: 10px 10px 0 10px;
}
.historyUsers, .historyPosts {
    text-align: left;
}